<aside class="sidebar">
  <div class="brand">
    <i class="fa-solid fa-bars"></i>
    <div class="avatar"></div>
    <span>FAKKHAI</span>
  </div>

  <nav>
    <div class="menu-group">
      <p class="menu-title">
        เจ้าของพื้นที่ <i class="fa-solid fa-chevron-up chevron"></i>
      </p>
      <div class="submenu">
        <a class="nav-link active" data-page="my-space">พื้นที่ของฉัน</a>
        <a class="nav-link" data-page="requests">คำขอเช่าที่ได้รับ</a>
        <a class="nav-link" data-page="payments">กระเป๋าเงิน</a>
      </div>
    </div>

    <div class="menu-group">
      <p class="menu-title">
        เจ้าของแบรนด์ <i class="fa-solid fa-chevron-up chevron"></i>
      </p>
      <div class="submenu">
        <a class="nav-link" data-page="my-requests">คำขอเช่าของฉัน</a>
        <a class="nav-link" data-page="my-contracts">สัญญาเช่าของฉัน</a>
        <a class="nav-link" data-page="product-offers">ข้อเสนอสินค้าของฉัน</a>
        <a class="nav-link" data-page="consignment-contracts">สัญญาฝากขายสินค้า</a>
      </div>
    </div>
  </nav>

  <div class="sidebar-footer">
    <button class="btn-home" onclick="location.href='index.html'">
    <i class="fa-solid fa-house"></i>
    <span>กลับหน้าหลัก</span>
  </button>
    <button class="logout">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>ออกจากระบบ</span>
    </button>
  </div>
</aside>